<h1 class="text-center">Restaurants</h1>

<div class="banner">
  <ul class="col-6 justify-content-center">
    <% @restaurants.each do |restaurant| %>
      <li class="d-flex justify-content-between"><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end %>
  </ul>
</div>

<button class="btn">
<%= link_to "Add a new restaurant", new_restaurant_path %>
</button>
